<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ROOM_ID = ("<%= JSON.stringify(roomId) %>").substring(("<%= JSON.stringify(roomId) %>").indexOf(";") + 1, ("<%= JSON.stringify(roomId) %>").lastIndexOf("&"));
    </script>
    <script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="worker.js" defer></script>
    <title>Second Screen</title>
    <style>
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 95%);
            grid-auto-rows: 95%;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div id="video-grid"></div>
</body>
</html>